<ul>
  <li *ngFor="let person of people | paginate: { itemsPerPage: 20, currentPage: page, totalItems: 67 }">


    <a href="#" [routerLink]="['/persons/show/', person.id]">
      {{ index + 1 }}. {{person.name}}
    </a>

  </li>
  <!--li *ngFor="let person of people; let i = index">
  </li-->
</ul>
Aki está p {{ p }}
<pagination-controls (pageChange)="getPage($event)"></pagination-controls>
<button (click)="gotoCreatePerson()">Create new</button>